<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="data:;base64,=" />
    <title><%= Keyword.fetch!(@config, :title) %></title>
    <style>
      <%= raw(render_css(@session)) %>
    </style>
    <%= csrf_meta_tag() %>
    <link rel="manifest" href="/manifest.json " />
    <link 
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
      rel="stylesheet"
    >
  </head>
  <body>
    <%= @inner_content %>
  </body>
  <script>
    <%= raw(render_js()) %>
  </script>
</html>
